{"macro-defs"
 {adzerk.libclj.util/with-let [:bindings :bound-elements]
  hoplon.core/defelem         [:declaration :params :bound-elements]
  javelin.core/defc           [:declaration :element]
  javelin.core/defc=          [:declaration :element]
  javelin.core/formulet       [:bindings :bound-elements]
  ui.form/with-form           [:bindings :bound-elements]}}
