{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases
 {:dot
  {:extra-paths ["/home/dave/.clojure/src"]}

  :nrepl-server
  {:extra-deps {nrepl/nrepl {:mvn/version "0.7.0"}}
   :main-opts  ["-m" "nrepl.cmdline"]}

  :prepl-server
  {:extra-paths ["/home/dave/.clojure/src"]
   :main-opts   ["-m" "dave.prepl-server"]}

  :cljs
  {:extra-deps {org.clojure/clojurescript {:mvn/version "LATEST"}}
   :main-opts  ["-m" "cljs.main"]}

  :rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.2"}}
   :main-opts  ["-m" "rebel-readline.main"]}}}

