{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases
 {:dot
  {:extra-paths ["/home/dave/.clojure/src"]}

  :prepl-server
  {:extra-paths ["/home/dave/.clojure/src"]
   :main-opts   ["-m" "dave.prepl-server"]}

  :rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.2"}}
   :main-opts  ["-m" "rebel-readline.main"]}}}

